<div class="container py-5">
	<form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="submit(form.value)">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control form-control-lg" [ngClass]="
					validateControl('username') && hasError('username', 'required')
						? 'is-invalid'
						: ''
				" formControlName="username" id="username" />
			<div *ngIf="validateControl('username') && hasError('username', 'required')" class="invalid-feedback">
				Please enter your username.
			</div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control form-control-lg" [ngClass]="
					validateControl('password') && hasError('password', 'required')
						? 'is-invalid'
						: ''
				" formControlName="password" id="password" />
			<div *ngIf="validateControl('password') && hasError('password', 'required')" class="invalid-feedback">
				Please enter your password.
			</div>
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="error">
			<ul>
				<li> {{ error }} </li>
			</ul>
		</div>

		<button class="btn btn-lg btn-primary" type="submit" [disabled]="!form.valid">
			Login
			<ng-container *ngIf="loading; then spinner; else arrow"></ng-container>
			
			<ng-template #spinner>
				<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
			</ng-template>

			<ng-template #arrow>
				<i class="fa fa-arrow-right"></i>
			</ng-template>
		</button>
	</form>
	<div class="d-block mt-4">
		<a [routerLink]="['/register']" class="no-decoration">Don't have an account?</a>
	</div>
</div>
